/*:root {*/
/*  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*  line-height: 1.5;*/
/*  font-weight: 400;*/

/*  color-scheme: light dark;*/
/*  color: rgba(255, 255, 255, 0.87);*/
/*  background-color: #242424;*/

/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
@font-face {
    font-family: Manrope;
    src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format("truetype");
    font-style: normal
}

:root {
    --font-family: Manrope;
    --dark: #101828;
    --gray: #8e929a;
    --light-blue: #3470ff;
    --blue: #0b44cd;
    --light-gray: #dadde1;
    --wery-light-grey: #f2f4f7;
    --light: #f7f7f7;
    --white: #fff;
    --animation-cubicBezier: 0.3s cubic-bezier(0.7, 0.98, 0.86, 0.98);


}

body {
    font-family: var(--font-family), sans-serif;
    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    background-color: var(--white);
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    color: inherit;
    text-decoration: none
}

button {
    cursor: pointer;
    border: none;
    background: var(--light-blue);
    font-family: inherit;
    outline: none;

    & :hover {
        background: var(--blue);
    }
}

button:hover {
    background-color: var(--blue)
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

input, select {
    border: none
}
